<h1>Pictures<h1>
<h3>url ‘pictures’ /</h3>
<h4> folder: pictures -> resource: index.html.erb (‘pictures#index’)</h4>

<% @pictures.each do |picture| %>
	<p><%= picture[:title] %>, <%= picture[:artist] %></p>
	<img src = <%= picture[:url] %> >
	<% end %>