<h1>Most Recent Pictures<h1>
<h3>url ‘pictures’ /</h3>
<h4> folder: pictures -> resource: index.html.erb (‘pictures#index’)</h4>
<%= link_to "New Picture", "pictures/new" %>

<ul>
<% @most_recent_pictures.each do |picture| %>
	<li><%= picture[:title] %></li>

	<% end %>
</ul>