<h1>Pictures<h1>
<h3>url ‘pictures / 2'</h3>
<h4> folder: pictures -> resource: picture2.html.erb (‘pictures#picture2’)</h4>

<p><%= @picture[:title] %>, <%= @picture[:artist] %></p>
<img src = <%= @picture[:url] %> >
	